[["Paper" "03:55" "https://open.spotify.com/track/3ONGM7lWDHx2zG2J5GoCn2?si=5e71820591fc4339"]
 ["Santa" "04:10"]
 ["WhatAmIOn" "02:43" "https://open.spotify.com/track/66CoyCEpCLIxg1ftUfgJoh?si=255ebb839f8143a1"]
 ["Agua Salada" "03:47" "https://open.spotify.com/track/0D2cnBK2IuinKECn7IR8Ek?si=c908590d0b884dc1"]
 ["Candela" "04:03"]]